name {
    text-align: center;
    background-image: url(https://media0.giphy.com/media/zytyfGxUs41O0/giphy.webp?cid=ecf05e47cmoja3l0lsn1otpbrbgpka67i6grppgef514ykbi&ep=v1_gifs_search&rid=giphy.webp&ct=g);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
}