{% extends 'base2.html' %}

{% block blockname %}
<div class="container">
    <div class="row" ></div>
    <center>
        <div class="col-8" >
            <p align="justify-content-center" >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis diam purus, mollis condimentum odio molestie in.
            Curabitur tincidunt est ut ex sagittis fermentum. Morbi iaculis iaculis lacus, non aliquam libero mattis non. Sed et sem
            non neque dictum hendrerit a id nulla. Sed varius odio ut lectus vestibulum tincidunt. Nullam lobortis tincidunt odio,
            et fermentum dolor imperdiet vitae. Nam leo leo, bibendum eget finibus id, faucibus venenatis nisl. Sed ornare est nisl.
            Vestibulum pretium nisl id ullamcorper posuere. Fusce congue enim nec mollis pretium. Vivamus porttitor quam accumsan
            tristique sollicitudin.
            
            Vestibulum malesuada, mi quis interdum tristique, magna enim tempor elit, sit amet ullamcorper nibh dolor sit amet
            tortor. Proin finibus nunc eget felis accumsan, at lobortis nisl efficitur. In posuere, ante quis pulvinar aliquet,
            justo augue pellentesque tellus, ac commodo risus elit vel risus. Mauris ut erat id ligula ultricies aliquam non et
            augue. Nulla eleifend ultrices nunc, nec euismod ligula malesuada euismod. In ipsum turpis, aliquam at tempus a,
            volutpat non odio. Nulla dapibus, nulla in imperdiet dictum, turpis nisl condimentum lacus, pulvinar volutpat risus dui
            ut erat. Duis finibus ante elementum malesuada dapibus. Phasellus orci urna, tristique ullamcorper ante nec, rutrum
            tempor ante.
            
            Nulla ornare, magna vel vulputate feugiat, lorem ipsum faucibus justo, sit amet feugiat eros metus hendrerit dui. Duis
            tristique venenatis elit, dictum molestie lacus dignissim placerat. Proin sit amet blandit orci. Proin vel elementum
            arcu. Pellentesque scelerisque lectus sit amet facilisis vehicula. Aenean pharetra porttitor eros, eget auctor purus
            egestas sit amet. Proin finibus ornare velit at faucibus. Vestibulum gravida sodales lorem in suscipit. Vestibulum
            auctor consectetur eros sed scelerisque. Ut sed mi ac mauris pellentesque convallis id vel orci. Nulla facilisi. Integer
            semper dui erat, at porttitor magna venenatis et. Pellentesque semper, diam vestibulum bibendum ullamcorper, odio leo
            aliquet ex, et commodo est eros non ligula. Morbi suscipit vehicula orci quis imperdiet. Aliquam ornare augue ac lacus
            varius, in euismod velit rutrum.
            
            Fusce molestie enim id dignissim consequat. Mauris pulvinar in magna a cursus. Donec congue in lacus eget scelerisque.
            In ipsum dolor, mattis quis elit at, luctus semper tellus. Vivamus malesuada lorem purus. Vestibulum ac congue lacus.
            Vivamus nec elit eu massa commodo aliquet. Aliquam magna nisi, pretium a est ut, cursus feugiat lectus. Pellentesque et
            justo a nulla tristique volutpat sit amet vel augue. Duis tincidunt pharetra diam, faucibus malesuada quam porta vitae.
            Nam et nulla ac nibh maximus pellentesque quis id enim. Suspendisse ut erat magna. Maecenas quis erat nibh. Nulla
            facilisis turpis ac nisi venenatis cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
            cubilia curae;
            
            Sed porta lectus ac ex elementum volutpat non at sapien. Phasellus dignissim mi fringilla urna varius, nec hendrerit
            neque volutpat. Etiam et ultricies diam. Donec lorem est, rutrum sed lacus sit amet, iaculis congue dolor. Integer
            pulvinar ut orci in ultricies. Aliquam sit amet dui facilisis, tempus lorem nec, fermentum leo. Donec tempus arcu quis
            eros vulputate, non mattis massa lacinia.</p>
            
        </div>
    </center>
</div>
{% endblock blockname %}
    